<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--系统菜单mapper-->
<mapper namespace="com.wsd.mapper.MenuMapper">

    <!--查询所有菜单-->
    <select id="getAllMenu" resultMap="BaseResultMap">
        SELECT
            m.*, l.*
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu r ON m.menu_id = r.menu_id
        LEFT JOIN sys_role l ON r.role_id = l.role_id
        ORDER BY
            m.order_num ASC
    </select>

    <!--根据用户id查询系统菜单-->
    <select id="getMenusByUserId" resultMap="BaseResultMap">
        SELECT
            m.*
        FROM
            sys_user_role sur,sys_role_menu srm,sys_menu m
        WHERE
          sur.role_id = srm.role_id
        AND
          srm.menu_id = m.menu_id
        AND
            sur.user_id = #{userId}
        ORDER BY
            order_num ASC
    </select>

    <!--查询菜单树-->
    <select id="getMenuTree" resultMap="menu">
        SELECT
          m.*,(SELECT p.name FROM sys_menu p WHERE p.menu_id = m.parent_id) AS parentName
        FROM
            sys_menu m
        ORDER BY
            order_num ASC
    </select>

    <!--查询系统菜单-->
    <select id="getMenuList" resultMap="menu">
        SELECT
          m.*,
		  case WHEN (SELECT p.name FROM sys_menu p WHERE p.menu_id = m.parent_id) is null THEN '根目录'
		  else (SELECT p.name FROM sys_menu p WHERE p.menu_id = m.parent_id) end as parentName
        FROM
            sys_menu m
        ORDER BY
            order_num ASC
    </select>

    <!--新增菜单-->
    <insert id="save" parameterType="com.wsd.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
		insert into sys_menu
		(
			menu_id,
			parent_id,
			name,
			url,
			icon,
			order_num,
			create_time
		)
		values
		(
			#{menuId},
			#{parentId},
			#{name},
			#{url},
			#{icon},
			#{orderNum},
			#{createTime}
		)
	</insert>

    <!--删除菜单-->
    <delete id="deleteMenu">
        delete from sys_menu where menu_id in
        <foreach item="menuId" collection="menuIdList" open="(" separator="," close=")">
            #{menuId}
        </foreach>
        ;
        delete from sys_role_menu where menu_id in
        <foreach item="menuId" collection="menuIdList" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

    <!--修改菜单信息-->
    <update id="update" parameterType="com.wsd.entity.Menu">
        update sys_menu
        <set>
            <if test="parentId != null">parent_id = #{parentId}, </if>
            <if test="name != null">name = #{name}, </if>
            <if test="url != null">url = #{url}, </if>
            <if test="icon != null">icon = #{icon}, </if>
            <if test="orderNum != null">order_num = #{orderNum} </if>
        </set>
        where menu_id = #{menuId}
    </update>

    <!--基础返回结果集-->
    <resultMap id="BaseResultMap" type="com.wsd.entity.Menu">
        <id column="menu_id" property="menuId"></id>
        <result column="parent_id" property="parentId"></result>
        <result column="order_num" property="orderNum"></result>
        <result column="name" property="name"></result>
        <result column="url" property="url"></result>
        <result column="icon" property="icon"></result>
        <!--<collection property="roleList" ofType="com.wsd.entity.Role">
            <id column="role_id" property="roleId"></id>
            <result column="role_name" property="roleName"></result>
            <result column="create_time" property="createTime"></result>
            <result column="remark" property="remark"></result>
        </collection>-->
    </resultMap>

    <!--子菜单返回结果集-->
    <resultMap id="childrenList" type="com.wsd.entity.Menu" extends="BaseResultMap">
        <collection property="menuList" ofType="com.wsd.entity.Menu">
            <id column="menu_id1" property="menuId"></id>
            <result column="parent_id1" property="parentId"></result>
            <result column="order_num1" property="orderNum"></result>
            <result column="name1" property="name"></result>
            <result column="url1" property="url"></result>
            <result column="icon1" property="icon"></result>
           <!-- <collection property="roleList" ofType="com.wsd.entity.Role">
                <id column="role_id" property="roleId"></id>
                <result column="role_name" property="roleName"></result>
                <result column="create_time" property="createTime"></result>
                <result column="remark" property="remark"></result>
            </collection>-->
        </collection>
    </resultMap>

    <!--返回结果集字段匹配，如果实体与数据库字段名称一样可不配置-->
    <resultMap id="menu" type="com.wsd.entity.Menu">
        <result column="menu_id" property="menuId"></result>
        <result column="parent_id" property="parentId"></result>
        <result column="order_num" property="orderNum"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
</mapper>
