<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--职位mapper-->
<mapper namespace="com.wsd.mapper.PostMapper">

    <!--查询职位列表-->
    <select id="getPostList" resultMap="post">
        SELECT
		<include refid="Base_Column_List"/>
		FROM sys_post WHERE 1=1
        <if test="post.name != '' and post.name != null">
			AND name like concat('%',#{post.name},'%')
        </if>
        ORDER BY create_time DESC
    </select>

    <!--新增职位-->
    <insert id="save" parameterType="com.wsd.entity.Post" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_post
		(
			post_id,
			name,
			code,
			create_time,
			remark
		)
		values
		(
			#{postId},
			#{name},
			#{code},
			#{createTime},
			#{remark}
		)
	</insert>

	<!--删除职位-->
	<delete id="deletePost">
		delete from sys_post
		<trim prefix="where post_id in">
			<foreach item="postId" collection="postIds" open="(" close=")" separator=",">
				#{postId}
			</foreach>
		</trim>
	</delete>

	<!--修改职位-->
	<update id="update" parameterType="com.wsd.entity.Post">
		update sys_post
		<set>
			<if test="name != null">name = #{name}, </if>
			<if test="code != null">code = #{code}, </if>
			<if test="remark != null">remark = #{remark} </if>
		</set>
		where post_id = #{postId}
	</update>

    <!--返回结果集字段匹配，如果实体与数据库字段名称一样可不配置-->
    <resultMap id="post" type="com.wsd.entity.Post">
        <id column="post_id" property="postId"></id>
        <result column="create_time" property="createTime"></result>
    </resultMap>

	<!--返回列-->
	<sql id="Base_Column_List">
    	post_id, name, code, create_time, remark
  	</sql>
</mapper>
