<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsd.mapper.RoleAndMenuMapper">

    <!--根据角色id查询对应菜单-->
    <select id="getMenuIdsByRoleId" resultType="Long">
		SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId}
	</select>

    <!--删除角色菜单-->
    <delete id="delete">
		delete from sys_role_menu where role_id = #{roleId}
	</delete>

    <!--新增角色菜单-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role_menu
        (
        `role_id`,
        `menu_id`
        )
        values
        <foreach collection="menuIdList" item="item" index="index" separator="," >
            (
            #{roleId},
            #{item}
            )
        </foreach>
    </insert>

</mapper>